@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body,
html {
     min-height: 100vh;
}

.sidebar {
     width: 20vw;
     height: 100vh;
     background: #f5f7fa;
     box-sizing: border-box;
     font-family: "Roboto", sans-serif;
     color: black;
     position: fixed;
     top: 0;
     left: 0;
     display: flex;
     flex-direction: column;
     padding: 20px;
     z-index: 1000;
scrollbar-gutter: stable;
     overflow-y: auto;
     overflow-x: hidden;
}

/* .admin-profile {
     text-align: center;
     margin: 5px 3px;
     background-color: #e9eef7;
     height: 100px;
     padding: 30px;


     
}


.admin-profile img {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     border: 2px solid white;
}

.admin-profile h3 {
     margin: 10px 0 5px;
}


.status {
     display: flex;
     align-items: center;
     font-size: 14px;
     font-weight: bold;
}


.status-dot {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     display: inline-block;
     margin-right: 8px;
}


.active .status-dot {
     background-color: green;
}

.inactive .status-dot {
     background-color: red;
} */

.admin-profile {
     display: grid;
     grid-template-columns: auto 1fr;

     align-items: center;

     gap: 15px;

     padding: 15px;
     background-color: #f8f9fa;

     border-radius: 10px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-profile i {
     font-size: 40px;
     color: #333;
     grid-column: 1;
     grid-row: span 2;

     justify-self: center;
}

.admin-profile h2,
.admin-profile h3,
.admin-profile p {
     margin: 0;
}

.admin-profile h3 {
     font-size: 1.5rem;
     color: #555;
     grid-column: 2;
}

.admin-profile h2 {
     font-size: 1.1rem;
     color: #222;
     grid-column: 2;
}

.status-dot {
     width: 10px;
     height: 10px;
     background-color: green;

     border-radius: 50%;
     display: inline-block;
}

/* @media (max-width: 600px) {
     .admin-profile {
          grid-template-columns: 1fr;
          
          text-align: center;
     }

     .admin-profile i {
          justify-self: center;
     }
} */

.sidebar-nav {
     background-color: #f8f9fa;
     height: auto;
     border-radius: 10px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     margin-top: 20px;
}

.sidebar-nav ul {
     list-style: none;
     padding: 0;
}

.sidebar-nav ul li {
     margin: 12px 0;
     cursor: pointer;
}

.sidebar-nav ul li a {
     color: rgb(28, 16, 16);
     text-decoration: none;
     font-size: 17px;
     display: flex;
     align-items: center;
     padding: 10px;
     transition: 0.3s;
}

.sidebar-nav ul li a i {
     margin-right: 10px;
}

/* .sidebar-nav  li a {
     display: flex;
     gap: 10px;
}  */

.sidebar-nav .fa-plus {
     margin-left: 20px;
     font-size: 14px;
     font-weight: bolder;
     align-self: center;
}

.sidebar-nav ul li a:hover {
     background: #95a1ac;
     border-radius: 5px;
}

.dropdown {
     position: relative;
     /* display: inline-block; */
}

.dropdown-menu {
     display: none;
     position: absolute;
     right: 0;
     margin: 0 3px 0 30px;
     background-color: #f5f7fa;
     border: 2px solid #f5f7fa;
     /* margin: 2px; */
     border-radius: 5px;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
     z-index: 1;
}

.dropdown-menu li {
     list-style: none;
}

.dropdown-menu li a {
     text-decoration: none;
     padding: 8px 10px;
     display: block;
     color: black;
}

.dropdown:hover .dropdown-menu {
     display: block;
}

header {
     width: calc(100% - 20.5vw);
     height: 60px;
     background-color: #f4f4f4;
     margin-left: 20vw;
     position: sticky;
     top: 0;
     padding: 15px;
     border: 2px solid #f1f0f0;
     border-radius: 5px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     z-index: 1001;
     border-collapse: collapse;
}

/* .header-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
} */

.heading {
     text-align: right;
     font-size: 15px;
     color: #333;
}

/* Main Content */
.main-content {
     width: calc(100% - 20.5vw);
     min-height: 100vh;
     margin-top: 5px;
     background-color: #f4f4f4;
     border: 2px solid rgb(237, 235, 235);
     border-radius: 5px;
     margin-left: 20vw;
     padding: 20px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logout Button */
.logout {
     background-color: #f8f9fa;
     height: 10%;
     border-radius: 10px;

     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     margin-top: 20px;
}

.logout a {
     color: red;
     text-decoration: none;
     font-size: 16px;
     display: flex;
     align-items: center;
     padding: 10px;
     margin: 15px;
}

.logout a i {
     margin-right: 10px;
}

.logout a:hover {
     background: #aa6a63;
     border-radius: 5px;
}

.hamburger {
     display: none;
     font-size: 30px;
     cursor: pointer;
}

@media (max-width: 1024px) {
     .hamburger {
          display: block;
          position: absolute;
          left: 20px;
          top: 18px;
          z-index: 1002;
     }
}

@media (max-width: 768px) {
     .hamburger {
          display: block;
          position: absolute;
          left: 20px;
          top: 12px;
          z-index: 1002;
     }
}

@media (max-width: 1240px) {
     .sidebar {
          width: 25vw;
     }

     header,
     .main-content {
          width: calc(100% - 25vw);
          margin-left: 25vw;
     }

     .admin-profile h3 {
          font-size: 1.2rem;
     }

     .admin-profile h2 {
          font-size: 1rem;
     }

     .sidebar-nav ul li a {
          font-size: 16px;
     }

     .logout a {
          font-size: 15px;
     }
}

@media (max-width: 1024px) {
     .sidebar {
          width: 20vw;
          float: left;
          height: 100vh;
     }

     header,
     .main-content {
          width: calc(100% - 20vw);
          margin-left: 20vw;
     }

     .main-content {
          min-height: 100vh;
     }

     .heading {
          /* text-align: right; */
          font-size: 10px;
     }
}

@media (max-width: 768px) {
     .sidebar {
          position: fixed;
          width: 60vw;
          top: 40px;
          transform: translateX(-100%);
          transition: transform 0.3s ease;
          z-index: 1002;
     }

     .sidebar.active {
          transform: translateX(0);
     }

     /* 
     header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-left: 0;
     } */

     header {
          display: flex;
          /* flex-direction: row-reverse; */
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-left: 0;

          padding: 15px;

          z-index: 1001;

     }

     .main-content {
          width: 100%;
          margin-left: 0;
     }

     header .header-container {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          width: 100%;
     }

     .heading {
          /* margin-left: 0; */
          /* text-align: right; */
          font-size: 8px;
     }

     .sidebar.active+.main-content {
          transition: margin-left 0.3s ease;

     }
}

@media (max-width: 480px) {
     .sidebar {
          width: 80vw;
     }

     .admin-profile {
          grid-template-columns: 1fr;
          text-align: center;
     }

     .admin-profile i {
          justify-self: center;
     }

     .sidebar-nav ul li a {
          font-size: 15px;
     }

     .logout a {
          font-size: 14px;
     }
}